
      <!doctype html>
  <html lang="en">
  <head>
    <title>Welcome to express.js!></title>
  </head>

  <body>
    <h1>Express and EJS</h1>
    <div class="container">
      <p> Form! Add one taqueria</p>
      <form method="post" action='/api/taquerias'>
        <input type="text" name="restaurant" placeholder='restaurant'>
        <input type="text" name="id" placeholder='id'>
      </form>

    </div>
  </body>